body {background-image: url(../images/background.png);

}
#about {position: relative;
    width: 100%;
    background:#ffffff;
    height:80px;
    padding-bottom: 20px;
    border-bottom: 1px solid #777777;

}
#Naomi{
    color: #ffffff;
    line-height: 10px;
    font-weight: bold;
    font-size: 25px;
    padding: 30px;
    margin-bottom: 20px;
    background: #4aaaa5;
    float:left;
}


a.links:visited{
    color: #777777;
    
}
h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#4aaaa5;
    font-weight: bold;
}
#links {

    line-height: 10px;
    font-size: 15px;
    padding: 30px;
    margin-bottom: 20px;

    text-align: right;
    width:100%;
    word-spacing: 20px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

.container {
    width:960px;
    padding: 20px;
    margin: 0 auto;
    position: center;
    font-family: 'Georgia', Times, Times New Roman, serif;`

}
#footer{
    text-align: center;
    color:#ffffff;
    font-size: 12px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    bottom: 100;
    width: 130%;
  height: 11px;
  background:#666666;
  border-top: 5px solid #4aaaa5;
  position: fixed;
  bottom: 0px;
  right:-200px;


}
.br{
    line-height: 2px;
}
.main{
    position: relative;
  height: 460px;
  background:#ffffff;
  padding-bottom: 10px;
  top: 35px;
}
#bio {
    width:960px;
    padding: 20px;
    margin: 0 auto; 
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;  
    color:#777777;
    line-height: 30px;
    font-size: 17px;
    
}
.text{
position: relative;
  height: 500px;
  background:#ffffff;
  padding-bottom: 10px;
  top: 35px;
}
#photo {
    float:left;
    margin-right: 2em;

}
#ContactMe{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-left: -40px;
    
}
#name{
    width: 950px;
}
#message{
    width: 950px;
    height: 150px;
}
#button {
    color: #ffffff;
    line-height: 10px;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 20px;
    background: #4aaaa5;
    top: -10px;
    float:left;
}
}